@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --max-width: 1200px;
  --extra-width: calc(100% - var(--max-width));
  --full-bleed: calc(var(--extra-width) / 2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  .container {
    @apply px-4 md:px-8 lg:px-20 xl:full-bleed mx-auto;
  }
  .full-bleed {
    @apply px-[--full-bleed];
  }

  .text-primary {
    @apply text-[#272D40];
  }

  .text-secondary {
    @apply text-[#99999E];
  }

  .h1 {
    @apply font-bold text-[34px] md:text-[40px];
  }

  .h2 {
    @apply font-bold text-[30px] md:text-[36px];
  }

  .h3 {
    @apply font-bold  text-[26px]  md:text-[32px];
  }

  .h4 {
    @apply font-semibold md:text-[28px] text-[24px];
  }

  .h5 {
    @apply font-semibold md:text-[22px] text-[20px];
  }
}
